{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Web</title>
    <link type='text/css' href='{% static "css/inicio_sesion.css" %}' rel='stylesheet'/>
</head>
<body>
    <div class="wrapper">
        <form action="" class="form">
            <h1 class="title">Inicio</h1>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Usuario">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="" id="" class="input" placeholder="Contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Iniciar Sesion</button>
            <p class="footer">¿No tienes cuenta?<a href="{% url 'registro' %}" class="link"> Por favor, Registrate</a></p>
        </form>

        <div></div>
        <div class="banner">
            <h1 class="wel_text">BIENVENIDO<br/></h1>
            <p class="para"> Gracias por ingresar <br/></p>

        </div>
    </div>
</body>
</html>