{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' href='{% static "css/agendar_cita.css" %}' rel='stylesheet'/>
    <title>Postular para Adoptar a {{ mascota.nombre_mascota }}</title>
</head>
<body>

    <h1>Postular para Adoptar a {{ mascota.nombre_mascota }}</h1>

    <div class="mascota-info">
        <p>Información de la mascota:</p>
        <ul>
            <li>Especie: {{ mascota.especie }}</li>
            <li>Raza: {{ mascota.raza }}</li>
            <li>Color: {{ mascota.color }}</li>
            <li>Sexo: {{ mascota.get_sexo_display }}</li>
            <li>Edad: {{ mascota.edad }} años</li>
            <li>Descripción: {{ mascota.descripcion }}</li>
        </ul>
    </div>

    <div class="cita-registro">
        <h2>Postulación de Adopción</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar Postulación</button>
        </form>
    </div>
</body>
</html>
