{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Web</title>
    <link type='text/css' href='{% static "css/registro.css" %}' rel='stylesheet'/>
</head>
<body>
    <div class="wrapper">
        <form action="{% url 'registro_organizacion' %}" method="POST" class="form">{% csrf_token %}
            <h1 class="title">Registro</h1>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Nombre de Organizacion">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="email" name="" id="" class="input" placeholder="Correo Electrónico">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="inp">
                <input type="password" name="" id="" class="input" placeholder="Contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Registrarse</button>
            <p class="footer">¿Ya tienes una cuenta?<a href="{% url 'inicio_sesion_organizacion' %}" class="link"> Inicia Sesión</a></p>
        </form>

        <div></div>
        <div class="banner">
            <h1 class="wel_text">BIENVENIDO<br/></h1>
            <p class="para"> Ingresa tus datos <br/> para registrarte como <br/> organizacion <br/></p>
        </div>
    </div>
</body>
</html>
